@using jobPortal.Models.category
@model List<CategoryModel>

@foreach(var i in Model)
{
    <p>@i.CategoryName</p>
    <a asp-controller="Category" asp-action="Edit" asp-route-id="@i.Id">edit</a>
    <a asp-controller="Category" asp-action="Delete" asp-route-id="@i.Id">delete</a>
}