@using Microsoft.AspNetCore.Identity
@using jobPortal.Models.job
@model JobModel
@inject UserManager<AppUser> userManager
<h1>Detail</h1>
<p>@Model.Title</p>

@if(Model.appUser.Id==userManager.GetUserId(User)){
    <a asp-controller="Job" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">edit</a>
    <a asp-controller="Job" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>

}
else
{
    <a asp-controller="Apply" asp-action="ApplyJob" asp-route-id="@Model.Id" class="btn btn-primary">Apply</a>
}