@using jobPortal.Models.ViewModel.role
@model RoleViewModel

<div class="container w-50 h-100">
    <h1>Create NEw Role</h1>
    <form   method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label>Role</label>
            <input asp-for="RoleName" type="text" class="form-control">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>




        <button type="submit" asp-controller="Role"  asp-action="CreateRole" class="btn btn-primary">Add Role</button>
    </form>
</div>