@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<h1>All Roles</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto"
    asp-action="CreateRole" asp-controller="Role" class="btn btn-primary">Add role</a>
    foreach(var role in Model)
    {
     <div class="card mb-3">
         <div class="card-header">
          Role Id:@role.Id
         </div>
         <div class="card-body">
             <h5 class="card-title">@role.Name</h5>
         </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Role" 
                asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a asp-action="DeleteRole" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-primary">Delete</a>
            </div>
     </div>   
    }
}

else{
<div class="card">
    <div class="card-header">
        No roles
    </div>
    <div class="card-body">
        <h5 class="card-title">
            user btn below to create role
        </h5>
        <a class="btn-btn-outline-primary" style="width:auto" asp-controller="Role"
           asp-action="CreateRole">
            create role
        </a>
    </div>
</div>

}